[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
cython     = "*"
pyfaidx    = "*"
biopython  = "*"
sklearn    = "*"
numpy      = "*"
pandas     = "*"
matplotlib = "*"
pyranges   = "*"


[dev-packages]

[requires]
python_version = "3.9"
